.bottom-bar {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    height: 8%;
    transition: all 500ms;
}

* { font-family: Main_2; }