.lyric {
    height: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

#uni-player-wrapper {
    position: absolute;
    z-index: -1;
    height: 100%;
    opacity: 0;
    transition:all 500ms;
}

#lyr-container {
    z-index: 1;
    color:white;
}

#container-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bottom {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom:0;
    transition: transform 500ms;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#artist-info {
    /* position: absolute;
    bottom: 0; */
    right: 0;
    z-index: 4;
}

app-secondary-view {
    flex-grow: 1;
    margin-left: 15px;
}